---
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import Layout from "../../layouts/Layout.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "blogPost",
  sort_by: "first_published_at:desc",
});
const posts = data.stories.map((story) => {
  return {
    title: story.content.title,
    date: new Date(story.first_published_at).toLocaleDateString("pt-BR", {
      dateStyle: "short",
    }),
    startImage: story.content.startImage,
    excerpt: renderRichText(story.content.content).slice(0, 80),
    slug: story.full_slug,
  };
});
---

<Layout title="Microforge - Confira nosso blog">
  <div class="p-8">
    <h2 class="mb-10 text-3xl font-bold text-teal-900">Confira nossos posts</h2>
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
      {
        posts.map((post) => (
          <div class="flex flex-col justify-between rounded-md border hover:border-teal-600">
            <a href={post.slug}>
              <img
                class="mb-5 h-48 w-full rounded-md"
                src={post.startImage}
                alt=""
              />
            </a>
            <a href={post.slug}>
              <h3 class="px-2 text-lg text-teal-900">{post.title}</h3>
            </a>
            <div
              class="mb-5 text-sm prose-p:px-2"
              set:html={`${post.excerpt}...<a class='text-teal-900 hover:text-teal-800' href=${post.slug}>saiba mais</a>`}
            />
            <div class="flex items-center justify-between p-2">
              <p class="text-right text-xs">{post.date}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
