---
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import Layout from "../../layouts/Layout.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "blogPost",
});
const posts = data.stories.map((story) => {
  return {
    title: story.content.title,
    date: new Date(story.first_published_at).toLocaleDateString("pt-BR", {
      dateStyle: "short",
    }),
    startImage: story.content.startImage,
    excerpt: renderRichText(story.content.content).slice(0, 80),
    slug: story.full_slug,
  };
});
---

<Layout title="Microforge - Confira nosso blog">
  <div class="p-8">
    <h2 class="text-3xl font-bold text-teal-900 mb-10">Confira nossos posts</h2>
    <div class="grid grid-cols-4 gap-4">
      {
        posts.map((post) => (
          <div class="border rounded-md hover:border-teal-600 w-10/12">
            <a href={post.slug}>
              <img
                class="rounded-md mx-auto mb-5 h-2/4 w-full"
                src={post.startImage}
                alt=""
              />
            </a>
            <h3 class="text-lg text-teal-900 p-2">{post.title}</h3>
            <div
              class="prose-p:p-2"
              set:html={`${post.excerpt}...<a class='text-teal-900 hover:text-teal-800' href=${post.slug}>saiba mais</a>`}
            />
            <p class="p-2 text-xs text-right">{post.date}</p>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
