---
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import ProductGroupComponent from "../../components/ProductGroupComponent.astro";
import Layout from "../../layouts/Layout.astro";
import animalsImage from "../../images/products/productPageHead.webp";

const storyblokApi = useStoryblokApi();
const productData = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "Product",
  sort_by: "created_at",
});

const productGroupData = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "productGroup",
  sort_by: "created_at",
});

const products = productData.data.stories.map((story) => {
  return {
    name: story.content.name,
    image: story.content.image,
    slug: story.full_slug,
    featured: story.content.featured,
  };
});

// Sort products by featured
products.sort((a, b) => {
  if (a.featured && !b.featured) {
    return -1;
  } else if (!a.featured && b.featured) {
    return 1;
  } else {
    return 0;
  }
});
//

const productGroups = productGroupData.data.stories.map((story) => {
  return {
    title: story.content.title,
    subtitle: story.content.subtitle,
    slug: story.slug,
    descriptionExcerpt: renderRichText(story.content.description).slice(0, 200),
  };
});

const sectionColors = [
  "bg-amber-500",
  "bg-amber-900",
  "bg-teal-700",
  "bg-teal-500",
  "bg-amber-400",
];
---

<Layout
  title="Microforge - Confira nossos produtos"
  description="Insumos para biomol. Kits de extração de DNA e RNA, Lise Celular, Agarose, Racks Magnéticas"
>
  <img src={animalsImage.src} alt="" />
  <div class="flex flex-col items-center p-8">
    <h2 class="mb-10 text-center text-3xl font-bold text-teal-900">
      Catálogo de Produtos
    </h2>
    <div class="w-3/4">
      <hr class="mx-auto mb-10 border-teal-800" />
      <div class="grid gap-2 md:grid-cols-3">
        <div class="flex flex-col items-center gap-2">
          <h3 class="text-center text-xl text-teal-900">
            Extração de DNA e RNA
          </h3>
          <a
            class="text-center text-teal-900 hover:text-teal-800"
            href="#linha-sabia-section">Linha Sabiá (Beads Magnéticas)</a
          >
          <a
            class="text-center text-teal-900 hover:text-teal-800"
            href="#linha-maracaja-section">Linha Maracajá (Lise Rápida)</a
          >
          <a
            class="text-center text-teal-900 hover:text-teal-800"
            href="#linha-saira-section">Linha Saíra (Centrifugação)</a
          >
        </div>
        <div class="flex flex-col items-center gap-2">
          <h3 class="text-xl text-teal-900">Acessórios</h3>
          <a
            class="text-teal-900 hover:text-teal-800"
            href="#acessorios-section">Racks Magnéticas</a
          >
          <a
            class="text-teal-900 hover:text-teal-800"
            href="#acessorios-section">Plásticos</a
          >
        </div>
        <div class="flex flex-col items-center gap-2">
          <h3 class="text-xl text-teal-900">Soluções</h3>
          <a class="text-teal-900 hover:text-teal-800" href="#solucoes-section"
            >Soluções</a
          >
        </div>
      </div>
      <hr class="mx-auto mt-10 border-teal-800" />
      {
        productGroups.map((productGroup, idx) => (
          <ProductGroupComponent
            productGroupSlug={productGroup.slug}
            productGroupTitle={productGroup.title}
            products={products.filter((product) =>
              product.slug.includes(productGroup.slug)
            )}
            productGroupDescriptionExcerpt={productGroup.descriptionExcerpt}
            sectionColor={sectionColors[idx]}
            productGroupsubTitle={productGroup.subtitle}
          />
        ))
      }
    </div>
  </div>
</Layout>
