---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import MailingForm from "../components/MailingForm.svelte";

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)}>
  <h1 class="text-3xl text-center pt-10 pb-5 text-teal-900">
    {blok.title}
  </h1>
  <hr class="mb-5 w-1/2 m-auto" />
  <img
    src={blok.startImage}
    class="lg:w-1/2 p-10 lg:px-0 mx-auto mb-16"
    alt=""
  />
  <div
    class="text-lg text-justify mx-10 md:mx-auto prose prose-p:mb-8 prose-h2:mb-4 prose-h2:text-teal-900 prose-img:max-h-96 prose-img:mx-auto prose-img:mb-0 prose-h5:text-sm prose-h5:text-center prose-a:text-teal-900 hover:prose-a:text-teal-800"
    set:html={content}
  >
  </div>
  <div class="mx-10 md:mx-24 lg:mx-96 border p-5">
    <div class="mb-5 flex gap-5">
      <img
        src={blok.author.content.picture}
        class="w-20 rounded-full self-start"
        alt={blok.author.content.name}
      />
      <p class="self-center text-teal-900 text-lg">
        {blok.author.content.name}
      </p>
    </div>
    <div
      class="prose prose-p:text-justify prose-p:text-sm"
      set:html={renderRichText(blok.author.content.bio)}
    >
    </div>
  </div>
</article>
<div class="flex justify-center my-5 mx-5">
  <MailingForm client:visible />
</div>
