---
import {
  storyblokEditable,
  renderRichText,
  useStoryblokApi,
} from "@storyblok/astro";
const { blok } = Astro.props;
const description = renderRichText(blok.description);

const pathname = new URL(Astro.request.url).pathname;
const currentPathSlug = pathname.split("/produtos/")[1];

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "Product",
  starts_with: `produtos/${currentPathSlug}`,
});

const products = data.stories.map((story) => {
  return {
    name: story.content.name,
    full_slug: story.full_slug,
    slug: story.slug,
    image: story.content.image,
    featured: story.content.featured,
  };
});

// Sort products by featured
products.sort((a, b) => {
  if (a.featured && !b.featured) {
    return -1;
  } else if (!a.featured && b.featured) {
    return 1;
  } else {
    return 0;
  }
});
//
---

<article {...storyblokEditable(blok)}>
  <h1 class="text-3xl text-center pt-10 pb-5 text-teal-900">
    {blok.title}
  </h1>
  <hr class="mb-5 w-1/2 m-auto" />
  <div class="">
    <img src={blok.image} class="lg:w-1/4 md:ml-auto md:mr-20" alt="" />
  </div>
  <div
    class="mx-5 md:mx-auto prose prose-p:text-justify mb-10"
    set:html={description}
  >
  </div>
  <h3 class="text-2xl text-teal-900 font-bold text-center mb-10">
    Confira nossos produtos
  </h3>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mx-5 md:mx-32 mb-5">
    {
      products.map((product) => (
        <div class="border rounded-md hover:border-teal-600  hover:scale-105 transition-all duration-300 p-2 ">
          <a
            class="flex flex-col items-center justify-center"
            href={`/produtos/${currentPathSlug}/${product.slug}`}
          >
            <p class="text-lg text-teal-900 text-center">{product.name}</p>
            <img
              src={product.image}
              class="max-w-1/2 hover:opacity-75 mb-5"
              alt={product.name}
            />
            {product.featured && (
              <p class="self-end text-teal-500 p-2">
                <span class="border rounded-lg p-1  border-teal-500">
                  Destaque
                </span>
              </p>
            )}
          </a>
        </div>
      ))
    }
  </div>
</article>
