---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import AddToCartForm from "../components/AddToCartForm.svelte";
const { blok } = Astro.props;
const description = renderRichText(blok.description);

---

<article {...storyblokEditable(blok)}>
  <h1 class="text-3xl text-center pt-10 pb-5 text-teal-900">
    {blok.name}
  </h1>
  <hr class="mb-5 w-1/2 m-auto" />
  <div class="grid md:grid-cols-2 mb-24">
    <div>
      <img src={blok.image} class="w-1/2 mx-auto lg:w-1/4 md:ml-auto md:mr-20" alt={blok.name} />
    </div>

    <div class="flex flex-col items-center justify-center md:items-start">
      <AddToCartForm client:load>
        <div>
          <input type="hidden" name="name" value={blok.name} />
          <input type="hidden" name="imageSrc" value={blok.image} />

          {
            blok.sizes && (
              <label class="text-xl mr-3" for="size">Conformação</label>
              <select name="size" class="p-2 bg-white">
                {blok.sizes.map((size) => (
                  <option value={size}>{size}</option>
                ))}
              </select>
            )
          }
        </div>
        <div class="my-5">
          <label class="text-xl" for="quantity">Quantidade:</label>
          <input
            name="quantity"
            id="qty"
            value="1"
            class="w-20 text-center text-xl"
            type="number"
            min="1"
          />
        </div>
        <button
          class="bg-teal-900 hover:bg-amber-400 text-white p-2 rounded-xl"
          type="submit">Adicionar à cotação</button
        >
      </AddToCartForm>
    </div>
  </div>
  <div class="text-center mb-10">
    Precisa de ajuda?
    <a
      target="_blank"
      class="text-teal-900 hover:text-teal-800 hover:decoration-solid"
      href={`https://api.whatsapp.com/send?phone=5519999453544&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20produto%20${blok.name}`}
      >Fale com nossos cientistas!</a
    >
  </div>

  <div
    class="text-lg text-justify mx-10 md:mx-auto prose prose-p:mb-8 prose-h3:mb-4 prose-h3:text-teal-900"
    set:html={description}
  >
  </div>
  {blok.related_products.length > 0 && 
    <h2 class="text-center text-xl mb-8 text-teal-900">Produtos relacionados</h2>
    <div class="grid place-items-center mb-8 grid-flow-col auto-cols-fr gap-4">
  {
    blok.related_products.map((product) => (
      <a
        class="border rounded-md hover:border-teal-600 w-10/12 hover:scale-105 transition-all duration-300"
        href={`/${product.full_slug}`}
      >
        <h3 class="text-lg text-teal-900 p-2 text-center">{product.name}</h3>

        <img
          class="rounded-md mx-auto mb-5 md:w-1/2 lg:w-1/4 hover:opacity-75"
          src={product.content.image}
          alt={product.name}
        />
        
      </a>
    ))
  }
</div>
}
  
</article>

<script>
  function parseQty() {
    const quantityInput = document.querySelector("input[name=quantity]");
    const quantity = parseInt(quantityInput.value);
    if (quantity < 1 || isNaN(quantity)) {
      quantityInput.value = 1;
    }
  }
  document
    .querySelector("input[name=quantity]")
    .addEventListener("change", parseQty);
</script>
