---
import ProductShowcase from "./ProductShowcase.astro";

const {
  productGroupSlug,
  productGroupTitle,
  productGroupsubTitle,
  productGroupDescriptionExcerpt,
  sectionColor,
  products,
} = Astro.props;
---

<div class="mt-20" id={`${productGroupSlug}-section`}>
  <h2 class={`w-1/2 p-1 rounded-2xl mb-3 ${sectionColor} text-2xl text-white`}>
    {productGroupTitle}
  </h2>
  <h3 class="text-teal-900 font-bold text-lg">
    {productGroupsubTitle}
  </h3>
  <div
    class="w-1/2 mb-10"
    set:html={`${productGroupDescriptionExcerpt}...<a class='text-teal-900 hover:text-teal-800' href='/produtos/${productGroupSlug}'>saiba mais</a>`}
  >
  </div>
  <ProductShowcase products={products} productGroupSlug="linha-sabia" />
</div>
