---
import mattImg from "../images/team/matt.webp";
import brunaImg from "../images/team/bruna.webp";
import marcusImg from "../images/team/marcus.webp";
import pelanzaImg from "../images/team/pelanza.webp";
import amandaImg from "../images/team/amanda.webp";
import renataImg from "../images/team/renata.webp";

const teamMembers = [
  {
    name: "Mateus",
    image: mattImg,
    role: "Científico e Comercial",
    linkedin: "https://www.linkedin.com/in/mateus-fiamenghi-584867174/",
    lattes: "http://lattes.cnpq.br/9005713927447046",
  },
  {
    name: "Bruna",
    image: brunaImg,
    role: "Produção e Qualidade",
    linkedin: "https://www.linkedin.com/in/bruna-zavati-zavitoski-a638bb98/",
    lattes: "http://lattes.cnpq.br/7145534859121414",
  },
  {
    name: "Marcus",
    image: marcusImg,
    role: "Relações pessoais",
    linkedin:
      "https://www.linkedin.com/in/marcus-vinicius-machado-gon%C3%A7alves-966740218/",
  },
  {
    name: "Mateus",
    image: pelanzaImg,
    role: "Científico",
    linkedin: "https://www.linkedin.com/in/mateus-nunes-99077364/",
    lattes: "http://lattes.cnpq.br/7723300050110876",
  },
  {
    name: "Amanda",
    image: amandaImg,
    role: "Produção e Científico",
    linkedin: "https://www.linkedin.com/in/amanda-tognoli-da-silva-aabba81b1/",
    lattes: "http://lattes.cnpq.br/7287448069428346",
  },
  {
    name: "Renata",
    image: renataImg,
    role: "Científico",
    linkedin: "https://www.linkedin.com/in/renata-baroni-16027734/",
    lattes: "http://lattes.cnpq.br/9596444231978809",
  },
];
---

<h2 class="mb-5 text-center text-2xl font-bold text-teal-900">
  Conheça nossa equipe
</h2>
<div class="mx-2 mb-10 grid gap-8 md:mx-20 md:grid-cols-2 lg:grid-cols-3">
  {
    teamMembers.map((teamMember) => (
      <div class="flex gap-4 rounded-lg border p-2">
        <img
          class="w-28 rounded-full"
          src={teamMember.image.src}
          alt={teamMember.name}
        />
        <div class="self-center">
          <h3 class="text-lg text-teal-900">{teamMember.name}</h3>
          <p class="mb-2">{teamMember.role}</p>
          <a target="_blank" href={teamMember.linkedin}>
            <i class="fa-brands fa-linkedin-in mr-2 text-2xl text-teal-900 hover:text-amber-500" />
          </a>
          {teamMember.lattes && (
            <a target="_blank" href={teamMember.lattes}>
              <i class="fa-solid fa-graduation-cap text-2xl text-teal-900 hover:text-amber-500" />
            </a>
          )}
        </div>
      </div>
    ))
  }
</div>
